<nav class="navbar navbar-expand navbar-dark bg-primary m-0">
  <a [routerLink]="['/','home']" class="navbar-brand"><i class="material-icons">school</i> LearnPlus</a>
  <div class="navbar-spacer"></div>
  <ul class="nav navbar-nav" *ngIf="user">
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
        src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle" width="40"></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" [routerLink]="['/','account','edit']">
          <i class="material-icons">edit</i> Edit Account
        </a>
        <a class="dropdown-item"  [routerLink]="['/','profile',user.id]">
          <i class="material-icons">person</i> Public Profile
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="material-icons">lock</i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
