<div class="text-center m-2">
  <div class="icon-block rounded-circle">
    <i class="material-icons align-middle md-36 text-muted">lock</i>
  </div>
</div>
<div class="card bg-transparent">
  <div class="card-header bg-white text-center">
    <h4 class="card-title">Login</h4>
    <p class="card-subtitle">Access your account</p>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="text"  name="user.username" [(ngModel)]="user.username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" name="user.password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group ">
        <button type="submit" (click)="login()" class="btn  btn-primary btn-block">
          <span class="btn-block-text">Login</span>
        </button>
      </div>
      <div class="text-center">
        <a href="#">
          <small>Forgot Password?</small>
        </a>
      </div>
    </form>
  </div>
  <div class="card-footer text-center bg-white">
    Not yet a student? <a [routerLink]="['/','signup']">Sign up</a>
  </div>
</div>
